<%- include('../includes/header.ejs') %>
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% for(let item of items){ %>
            <div>
                <div class="">
                    <img src="<%= item.imageurl %>" alt="productimage" style="width: 250px;" />
                    <label for="title"><%= item.title %>"</label>
                    <span><%= item.price %></span>
                    <p><%= item.description %></p>
                    <form action="/cart/delete-product" method="post">
                        <input type="hidden" name="productId" value="<%= item.id %>">
                        <button href= class="btn">Delelte</button>
                    </form>
                </div>

                          
            </div>
            <% } %>
        </main>
    </body>
</html>