<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div>
            <% if(items){ %>
                <% for(var item of items){ %> 
                    <% if(item.id){ %>
                    <article>
                        <header>
                            <%= item.length %>
                            <h1><%= item.title %></h1>
                        </header>
                        <div>
                            <img src="<%= item.imageUrl%>" alt="<%= item.title%>" style="width: 250px;">
                        </div>
                        <div>
                            <h2><%= item.price%></h2>
                            <p><%= item.description%></p>
                        </div>
                        <div>
                            <%- include("../includes/cart.ejs",{"item":item}) %>
                            
                        </div>
                    </article>
                    <% } %>
                <% } %>    
            <% } %>
        </div>
    </main>
    
</body>
</html>